/* Header.jsx */
.header{
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 1px 3px 0px #0000001a, 0px 1px 2px 0px #0000000f;
}
.header-name{
    font-size: 2rem;
}
.header-image{
    width: 50px;
}


/* Main.jsx */
main{
    padding: 30px 30px 10px;
}
.add-ingredient-form{
    display: flex;
    justify-content: center;
    gap: 12px;
    height: auto;
}

.add-ingredient-form > input{
    padding: 9px 13px;
    border-radius: 5px;
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.add-ingredient-form > button{
    font-family: Inter, sans-serif;
    border-radius: 5px;
    border: none ;
    background-color: black;
    color: white;
    width: 150px;
    font-size: 0.87rem;
    font-weight: 500;
}

#addIngredientBtn:hover{
    cursor: pointer;
}

@media (max-width: 500px) {
    .add-ingredient-form {
        flex-direction: column; 
    }

    .add-ingredient-form > input,
    .add-ingredient-form > button {
        max-width: none;
        width: 100%;  
        height: 45px;  
    }
}

/* IngredientsList.jsx */
.main-section{
    width: 100%;       
    max-width: 600px;  
    margin: 20px auto; 
}

ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 28px;
}

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
}
.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
}

#recipeBtn{
    cursor: pointer;
}

@media (min-width: 600px) {
    .get-recipe-container {
        flex-direction: row; /* Side-by-side on larger screens */
        text-align: left;
    }
}

/* ClaudeRecipe.jsx */

.recipe-section{
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}

@media (max-width: 400px) {
    .header-name {
        font-size: 1.5rem;
    }
    main {
        padding: 20px 15px; 
    }
}